@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 100vh;   
    position: relative;
    background-image: linear-gradient(180deg, rgba(9, 116, 255, 0.15), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 10;
    transition: 0.5s;
}

.white-nav{
    background-color: rgba(255, 255, 255, 0.8);
}

.logo{
    margin-left:10%;
}

.nav-link ul{
    text-align: center;
    display: flex;
    justify-content:center;
}

.nav-link ul li{
    display:inline-block;
    list-style: none;
    padding-left:50px;
}

.nav-link ul li a{
    text-decoration: none;
    color:#000;
    font-size: 14px;
}
.close{
    position: absolute;
    display: none;
    visibility: hidden;
}
.nav-link ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #04009A;
    margin: auto;
    display: block;
    transition: 0.7s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

button.lang{
    background-color: #FFFEFE;
    color:#868484;
    border: none;
    border-radius: 10px;
    margin-right:10%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:35px;
    width:120px;
    cursor: pointer;
}

button.lang img{
    padding-left: 5px;
    padding-right:5px;
}

.burger{
    visibility: hidden;
    display: none;
}

.hero{  
    width: 100%;
}

.hero-image{
    position: absolute;
    right:10%;
    top:0;
    z-index:0;
}

.hero-image-main{
    padding-top:100px;
    margin: 0;
    position: relative;
    animation-name: show-up;
    animation-duration: 1.5s;
    z-index: 1;
}

@keyframes show-up{
    0%{right: 200px; opacity: 0.2;}
    100%{right: 0px;}
}

.hero-image-secondary{
    position: absolute;
    opacity: 0.5;
    right:0;
    top:130px;
    z-index: 0;
}

.hero-heading{
    width:430px;
    margin-left:10%;
    padding-top: 150px;
    animation-name: showtext;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

.text-heading {
    font-size: 40px;
    line-height: 55px;
}

.description-text{
    font-size: 14px;
    line-height: 27px;
    margin-top:15px;
    
}

@keyframes showtext{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

button.btn-primary{
    background-image: linear-gradient(180deg, rgba(4, 0, 154, 1), rgba(6, 0, 214, 0.8));
    color:#fff;
    border-radius: 10px;
    border:none;
    width:120px;
    height: 35px;
    font-weight: 500;
    cursor: pointer;
    margin-top:20px;
    box-shadow: 5px 30px 40px rgba(119, 172, 241, 0.2);
    margin-right:10px;
}

button.btn-secondary{
    background-color: transparent;
    color:rgba(119, 172, 241, 1);
    border-radius: 10px;
    border:1px solid rgba(119, 172, 241, 1);
    width:120px;
    height: 35px;
    font-weight:300;
    cursor: pointer;
    margin-top:20px;
}

.section-benefit{

    margin: auto;
    margin-bottom: 70px;
    margin-top: 50px;
}

h6.small-title{
    padding-top: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #868484;
}

h3.medium-title{
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: 500;
    padding:8px;
}

.benefit-card{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.card{
    width: 250px;
    height: 320px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.5s all;
    box-shadow: 20px 20px 50px 10px rgba(161, 161, 161, 0.15);
}

.card:hover{
    background-image: linear-gradient(180deg, rgba(4, 0, 154, 1), rgba(6, 0, 214, 0.8));
    color: white;
}

.title-card{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
}

.des-card{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.img-card{
    widows: 100%;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.bg-motor{
    position: absolute;
    left:0%;
    top:0%;
    z-index: -2;
}

.img-motor{
    margin-left: 10%;
    margin-top: 30px;
}

.semi-title{
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 30px;
}

.track-container{
 
    height: 500px;
    margin: auto;
}

.image-background{
    width:100%;
    position: relative;
    height: 400px;
    background-image: url(./img/Courier_Freight\ 1.jpg);
    background-size: cover;
    margin: auto;
}

.mask-background{
    background-image: linear-gradient(180deg, rgba(4, 0, 154, 1), rgba(6, 0, 214, 0.7));
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.7;
}

.track-content{
    position: relative;
    bottom: 370px;
}

.track-content h6{
    color: white;
}

.track-content h3{
    color: white;
}

.track-content .input-text{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.track-content input{
    display: block;
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: left;
    padding-left: 20px;
}

.track-content input:focus{
    outline: none;
}

.track-content .track-button{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.track-content .btn-primary{
    background: white;
    color: #868484;
    transition: 0.5s;
}

.track-content .btn-primary:hover{
    background: #04009A;
    color: white;
}

.about {
 
    margin: auto;
    align-items: center;
}

.about-text{
    width: 60%;
    color: #868484;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
}

.sosmed{
    display: flex;  
    justify-content: center;
    color:#868484 ;
}

i{
    margin: 0px 15px;
}

p.made{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #868484;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}

@media (max-width:840px){
    .hero-heading{
        width: 80%;
        text-align: center;
        margin-top: 35px;
    }
    .nav-link ul li{
        text-align: center;
        margin: auto;
    }
    .hero-image{
        visibility: hidden;
    }
    .benefit-card{
        display: block;
    }
    .card{
        width: 100%;
    }
    .title-card{
        padding-top: 40px;
    }
    .track-content input{
        width: 80%;
    }
    .close{
        visibility: hidden;
    }
    .burger{
        visibility: hidden;
        
    }
}

@media (max-width:730px){
    .burger{
        visibility: visible;
        display: block;
        margin: 10px;
        margin-right: 10%;
    }
    .nav-link ul li{
        margin: 20px;
        padding-left: 0;
        display: block;
    }
    .nav-link{
        position: absolute;
        z-index: 10;
        min-height: 100vh;
        background-color: white;
        top: 0;
        right: -200px;
        text-align: center;
        width: 200px;
        transition: 0.5s;
        
    }
    .nav-link ul{
        display: block;
    }
    button.lang{
        display: none;
    }
    .close{
        position:relative;
        visibility: visible;
        cursor: pointer;
        display: block;
        margin: 20px;
        width: 80%;
        color: #04009A;
        text-align: left;
    }
    
}



